.isBlock {
  display: block;
}

.type_h1,
.type_h2,
.type_h3,
.type_h4,
.type_h5,
.type_h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $fontBold;
}

.type_h1 {
  font-size: rem(32px);
  line-height: rem(36px);
}

.type_h2 {
  font-size: rem(28px);
  line-height: rem(32px);
}

.type_h3 {
  font-size: rem(24px);
  line-height: rem(28px);
}

.type_h4 {
  font-size: rem(20px);
  line-height: rem(24px);
}

.type_h5,
.type_h6 {
  font-size: rem(16px);
  line-height: rem(20px);
}

.type_text {
  line-height: rem(20px);
}

.weight {
  @each $key, $value in $fontWeights {
    &_#{$key} {
      color: $value;
    }
  }
}

.color {
  @each $key, $value in $colors {
    &_#{$key} {
      color: $value;
    }
  }
}
