.isBlock {
  display: block;
}

.type {
  &_h1,
  &_h2,
  &_h3,
  &_h4,
  &_h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: $fontBold;
  }

  &_h1 {
    font-size: rem(32px);
    line-height: rem(36px);
  }

  &_h2 {
    font-size: rem(28px);
    line-height: rem(32px);
  }

  &_h3 {
    font-size: rem(24px);
    line-height: rem(28px);
  }

  &_h4 {
    font-size: rem(20px);
    line-height: rem(24px);
  }

  &_h5 {
    font-size: rem(16px);
    line-height: rem(20px);
  }

  &_text {
    line-height: rem(20px);
  }
}

.weight {
  &_thin {
    font-weight: $fontThin;
  }

  &_light {
    font-weight: $fontLight;
  }

  &_regular {
    font-weight: $fontRegular;
  }

  &_medium {
    font-weight: $fontMedium;
  }

  &_bold {
    font-weight: $fontBold;
  }
}

.color {
  @each $key, $value in $colors {
    &_#{$key} {
      color: $value;
    }
  }
}
