.root {
  border-bottom: 1px solid currentColor;
  color: $colorAzureRadiance;
  text-decoration: none;
  transition: $transitionDefault;
  cursor: pointer;

  @include hover {
    border-bottom-color: transparent;
  }
}

.isActive {
  border-bottom-color: transparent;
}

.isPseudo {
  border-bottom-style: dashed;
}

.isDisabled {
  color: $colorDustyGray;
  cursor: default;
  pointer-events: none;
}
