@import './variables.scss';

$groupSeparator: '-';

// Экспорт scss переменных для использования в js скриптах
:export {
  gridBreakpointFirst: unquote($gridBreakpointFirst);
  gridBreakpointLast: unquote($gridBreakpointLast);

  @each $breakpoint, $ranges in $gridBreakpoints {
    @each $range, $value in $ranges {
      #{'breakpoints' + $groupSeparator + $breakpoint + $groupSeparator + $range}: $value;
    }
  }

  @each $key, $value in $colors {
    #{'colors' + $groupSeparator + $key}: $value;
  }
}
