.root {
  width: calc(100% - 30px);
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: content-box;

  &.isFluid {
    max-width: map-get($gridMaxWidths, 'xl');
  }

  &:not(.isFluid) {
    max-width: calc(100% - 15px);

    @include mediaMin('sm') {
      max-width: map-get($gridMaxWidths, 'sm');
    }

    @include mediaMin('md') {
      max-width: map-get($gridMaxWidths, 'md');
    }

    @include mediaMin('lg') {
      max-width: map-get($gridMaxWidths, 'lg');
    }

    @include mediaMin('xl') {
      max-width: map-get($gridMaxWidths, 'xl');
    }
  }
}
