.root {
  width: calc(100% - #{$gridGutterWidth});
  box-sizing: content-box;

  @include paddingX($halfGutterWidth);
  @include marginX(auto);

  &:not(.isFluid) {
    max-width: calc(100% - #{$gridGutterWidth});

    @include mediaMin('sm') {
      @include gridMaxWidth('sm');
    }

    @include mediaMin('md') {
      @include gridMaxWidth('md');
    }

    @include mediaMin('lg') {
      @include gridMaxWidth('lg');
    }

    @include mediaMin('xl') {
      @include gridMaxWidth('xl');
    }
  }

  &.isFluid {
    @include gridMaxWidth('xl');
  }
}
