.root {}

.direction_horizontal {}

.direction_vertical {
  display: flex;
  flex-direction: column;
}

.checkbox {
  &:not(:last-child) {
    .direction_horizontal & {
      margin-right: spacer(5);
    }

    .direction_vertical & {
      margin-bottom: spacer(2);
    }
  }
}
