@mixin helpers($breakpoint: '') {
  .d-none#{$breakpoint} {
    display: none !important;
  }

  .d-flex#{$breakpoint} {
    display: flex !important;
  }

  .d-inline-flex#{$breakpoint} {
    display: inline-flex !important;
  }

  .d-block#{$breakpoint} {
    display: block !important;
  }

  .d-inline-block#{$breakpoint} {
    display: inline-block !important;
  }

  .d-inline#{$breakpoint} {
    display: inline !important;
  }
}

:global {
  @include helpers;

  @each $breakpoint, $widths in $gridBreakpoints {
    @include mediaMin($breakpoint) {
      @include helpers('-#{$breakpoint}');
    }
  }
}
