@mixin helpers($breakpoint: '') {
  .t-center#{$breakpoint} {
    text-align: center !important;
  }

  .t-right#{$breakpoint} {
    text-align: right !important;
  }

  .t-left#{$breakpoint} {
    text-align: left !important;
  }

  .t-upper#{$breakpoint} {
    text-transform: uppercase !important;
  }

  .t-lower#{$breakpoint} {
    text-transform: lowercase !important;
  }

  .t-normal#{$breakpoint} {
    text-transform: none !important;
  }

  .t-thin#{$breakpoint} {
    font-weight: $fontThin !important;
  }

  .t-light#{$breakpoint} {
    font-weight: $fontLight !important;
  }

  .t-regular#{$breakpoint} {
    font-weight: $fontRegular !important;
  }

  .t-medium#{$breakpoint} {
    font-weight: $fontMedium !important;
  }

  .t-bold#{$breakpoint} {
    font-weight: $fontBold !important;
  }
}

:global {
  @include helpers;

  @each $breakpoint, $ranges in $gridBreakpoints {
    @include mediaMin($breakpoint) {
      @include helpers('-#{$breakpoint}');
    }
  }
}
