.root {
  background-color: color('eucalyptus');
  color: color('white');

  @include hover {
    background-color: darken(color('eucalyptus'), 15%);
  }

  &.isActive {
    background-color: darken(color('eucalyptus'), 15%);
  }
}
