.root {
  background-color: $colorWarning;
  color: $colorBlack;

  @include hover {
    background-color: darken($colorWarning, 15%);
  }

  &.isActive {
    background-color: darken($colorWarning, 15%);
  }
}
