.root {
  background-color: $colorPersianRed;
  color: $colorWhite;

  @include hover {
    background-color: darken($colorPersianRed, 15%);
  }

  &.isActive {
    background-color: darken($colorPersianRed, 15%);
  }
}
