.root {
  @include resetButton;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  border-radius: 4px;
  font-weight: 500;
  color: color('mineShaft');
  text-align: center;
  text-decoration: none;
  transition: $primaryTransition;
  position: relative;
  vertical-align: middle;
  user-select: none;

  &.isFluid {
    display: flex;
    flex: 1;
    width: 100%;
    @include marginX(0);
  }

  &.size_small {
    font-size: rem(10px);
    line-height: rem(12px);
  }

  &.size_normal {
    font-size: rem(13px);
    line-height: rem(16px);
  }

  &.size_large {
    font-size: rem(16px);
    line-height: rem(18px);
  }

  &.isRound {
    border-radius: 30px;
  }

  &.isCircle {
    border-radius: 50%;
  }

  &.isSquared {
    border-radius: 0;
  }

  &.hasIcon {
    width: 40px;
    height: 40px;
  }

  &.isDisabled {
    color: #cecece;
    pointer-events: none;
  }

  @include hover {
    z-index: 1;
  }

  &:not(.isDepressed):not(.isFlat) {
    box-shadow: 0 1px 8px 0 transparent;

    @include hover {
      box-shadow: 0 1px 8px 0 rgba(#000, .2);
    }
    @include active {
      box-shadow: 0 1px 8px 0 rgba(#000, .2);
    }
  }
}

$paddingXSmall: spacer(2);
$paddingYSmall: spacer(4);
$paddingXNormal: spacer(3);
$paddingYNormal: spacer(5);
$paddingXLarge: spacer(4);
$paddingYLarge: spacer(8);

.inner {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  color: inherit;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;

  .size_small:not(.hasIcon) & {
    padding: $paddingXSmall $paddingYSmall;
  }

  .size_normal:not(.hasIcon) & {
    padding: $paddingXNormal $paddingYNormal;
  }

  .size_large:not(.hasIcon) & {
    padding: $paddingXLarge $paddingYLarge;
  }

  .size_small.hasIcon & {
    padding: $paddingXSmall;
  }

  .size_normal.hasIcon & {
    padding: $paddingXNormal;
  }

  .size_large.hasIcon & {
    padding: $paddingXLarge;
  }

  .contentAlign_left & {
    justify-content: flex-start;
  }

  .contentAlign_center & {
    justify-content: center;
  }

  .contentAlign_right & {
    justify-content: flex-end;
  }

  .contentAlign_justify & {
    justify-content: space-between;
  }
}
