.root {
  background-color: $colorAzureRadiance;
  color: $colorWhite;

  @include hover {
    background-color: darken($colorAzureRadiance, 15%);
  }

  &.isActive {
    background-color: darken($colorAzureRadiance, 15%);
  }
}
