.root {
  @include resetButton;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  border-radius: 4px;
  font-weight: 500;
  color: $colorMineShaft;
  text-align: center;
  text-decoration: none;
  transition: all $transitionDefault;
  position: relative;
  vertical-align: middle;
  user-select: none;

  @include hover {
    z-index: 1;
  }

  &.size_small {
    font-size: rem(13px);
    line-height: rem(16px);
  }

  &.size_medium {
    font-size: rem(16px);
    line-height: rem(16px);
  }

  &.size_large {
    font-size: rem(18px);
    line-height: rem(20px);
  }

  &.isFluid {
    display: flex;
    flex: 1;
    width: 100%;
  }

  &.isRound {
    border-radius: 30px;
  }

  &.isCircle {
    border-radius: 50%;
  }

  &.isSquare {
    border-radius: 0;
  }

  &.square_left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.square_right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.hasIcon {
    min-width: 24px;
    min-height: 24px;
  }

  &.isDisabled {
    color: #cecece;
    pointer-events: none;
  }
}

$paddingXSmall: spacer(1);
$paddingYSmall: spacer(3);
$paddingXMedium: spacer(3);
$paddingYMedium: spacer(5);
$paddingXLarge: spacer(4);
$paddingYLarge: spacer(8);

.inner {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  color: inherit;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;

  .size_small:not(.hasIcon):not(.isEmpty) & {
    padding: $paddingXSmall $paddingYSmall;
  }

  .size_medium:not(.hasIcon):not(.isEmpty) & {
    padding: $paddingXMedium $paddingYMedium;
  }

  .size_large:not(.hasIcon):not(.isEmpty) & {
    padding: $paddingXLarge $paddingYLarge;
  }

  .size_small.hasIcon & {
    padding: $paddingXSmall;
  }

  .size_medium.hasIcon & {
    padding: $paddingXMedium;
  }

  .size_large.hasIcon & {
    padding: $paddingXLarge;
  }

  .size_small.isEmpty & {
    min-width: spacer(6);
    min-height: spacer(6);
  }

  .size_medium.isEmpty & {
    min-width: spacer(10);
    min-height: spacer(10);
  }

  .size_large.isEmpty & {
    min-width: spacer(13);
    min-height: spacer(13);
  }

  .contentAlign_left & {
    justify-content: flex-start;
  }

  .contentAlign_center & {
    justify-content: center;
  }

  .contentAlign_right & {
    justify-content: flex-end;
  }

  .contentAlign_justify & {
    justify-content: space-between;
  }
}
