.root {
  background-color: $colorEasternBlue;
  color: $colorWhite;

  @include hover {
    background-color: darken($colorEasternBlue, 15%);
  }

  &.isActive {
    background-color: darken($colorEasternBlue, 15%);
  }
}
