$colorTheme: $colorEasternBlue;

.root {
  background-color: $colorTheme;
  color: $colorWhite;

  @include hover {
    background-color: darken($colorTheme, 10%);
  }

  @include active {
    background-color: darken($colorTheme, 15%);
  }

  &.isFocused {
    @include focusedOutline($colorTheme);
  }

  &.isActive {
    background-color: darken($colorTheme, 10%);
  }

  &.isDisabled {
    background-color: lighten($colorTheme, 20%);
  }
}
