$colorTheme: $colorAzureRadiance;

.link {
  border-bottom: 1px solid currentColor;
  margin-bottom: -1px;
  color: $colorTheme;
  transition: $transitionDefault;

  @media (hover: hover) {
    .root:not([disabled]):hover & {
      border-bottom-color: transparent;
    }
  }

  .isFocused & {
    border-bottom-color: rgba($colorTheme, .3);
  }

  .isActive & {
    border-bottom-color: transparent;
  }

  .isDisabled & {
    color: lighten($colorTheme, 30%);
  }
}
