.root {
  background-color: $colorPaleSky;
  color: $colorWhite;

  @include hover {
    background-color: darken($colorPaleSky, 15%);
  }

  @include focus {
    @include focusOutline($colorPaleSky);
  }

  &.isActive {
    background-color: darken($colorPaleSky, 15%);
  }
}
