.root {
  background-color: $colorOuterSpace;
  color: $colorWhite;

  @include hover {
    background-color: darken($colorOuterSpace, 15%);
  }

  &.isActive {
    background-color: darken($colorOuterSpace, 15%);
  }
}
