.root {
  background-color: color('azureRadiance');
  color: color('white');

  @include hover {
    background-color: darken(color('azureRadiance'), 15%);
  }

  &.isActive {
    background-color: darken(color('azureRadiance'), 15%);
  }
}
