.link {
  border-bottom: 1px solid currentColor;
  margin-bottom: -1px;
  color: $colorAzureRadiance;
  transition: $transitionDefault;

  @media (hover: hover) {
    .root:not([disabled]):hover & {
      border-bottom-color: transparent;
    }
  }
}
