.root {
  background-color: $colorAthensGray;
  color: $colorMineShaft;

  @include hover {
    background-color: darken($colorAthensGray, 15%);
  }

  @include focus {
    @include focusOutline($colorHeather);
  }

  &.isActive {
    background-color: darken($colorAthensGray, 15%);
  }
}
