.root {
  background-color: $colorAmber;
  color: $colorMineShaft;

  @include hover {
    background-color: darken($colorAmber, 15%);
  }

  &.isActive {
    background-color: darken($colorAmber, 15%);
  }
}
