.root {
  background-color: color('persianRed');
  color: color('white');

  @include hover {
    background-color: darken(color('persianRed'), 15%);
  }

  &.isActive {
    background-color: darken(color('persianRed'), 15%);
  }
}
