.root {
  background-color: $colorEucalyptus;
  color: $colorWhite;

  @include hover {
    background-color: darken($colorEucalyptus, 15%);
  }

  &.isActive {
    background-color: darken($colorEucalyptus, 15%);
  }
}
