.root {
  background-color: color('outerSpace');
  color: color('white');

  @include hover {
    background-color: darken(color('outerSpace'), 15%);
  }

  &.isActive {
    background-color: darken(color('outerSpace'), 15%);
  }
}
