.root {
  background-color: color('easternBlue');
  color: color('white');

  @include hover {
    background-color: darken(color('easternBlue'), 15%);
  }

  &.isActive {
    background-color: darken(color('easternBlue'), 15%);
  }
}
