$iconSize: 40px;
$themeColor: $colorEasternBlue;

.root {
  &.hasLabel {
    padding-top: spacer(3);
  }

  &.isReadOnly,
  &.isDisabled {
    pointer-events: none;
  }

  &.isDisabled {
    cursor: not-allowed;
  }
}

.container {
  position: relative;
}

.iconBefore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $iconSize;
  height: $iconSize;
  background-color: $themeColor;
  border-radius: 50%;
  font-size: rem(20px);
  color: $colorWhite;
  position: absolute;
  top: 0;
  left: 0;

  .isFilled &,
  .isFocused & {
    pointer-events: none;
  }
}

.label {
  font-size: rem(16px);
  line-height: 1;
  color: $colorPaleSky;
  position: absolute;
  top: 12px;
  left: 11px;
  transition: 0.2s $transitionStandTiming;
  transition-property: transform;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .hasIconBefore & {
    left: $iconSize + 9px;
  }

  &.labelActive,
  .input:not([disabled]):focus ~ & {
    font-size: rem(13px);
    color: $colorMineShaft;
    transform: translate3d(4px, -27px, 0);

    .hasIconBefore & {
      transform: translate3d(-36px, -27px, 0);
    }
  }
}

.input {
  width: 100%;
  height: $iconSize;
  background-color: rgba($colorWhite, .75);
  border: 1px solid $themeColor;
  border-radius: 25px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  transition: 0.2s $transitionStandTiming;
  transition-property: background-color, box-shadow;

  @include focus {
    background-color: $colorWhite;
    box-shadow: inset 0 0 8px 0 rgba($themeColor, .3),
    0 0 8px 0 rgba($themeColor, .3);
  }

  .hasIconBefore & {
    padding-left: $iconSize + 8px;
  }

  .isReadOnly & {
    background-color: rgba(lighten($colorHeather, 20%), .75);
  }

  .isDisabled & {
    background-color: rgba(lighten($colorHeather, 20%), .75);
    border-color: $colorHeather;
    color: $colorDustyGray;
  }
}

.buttonClear {
  @include resetButton;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $iconSize;
  height: $iconSize;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transition: $transitionDefault;

  @include hover {
    opacity: .5;
    transform: rotate(180deg);
  }
}
