$gridColumns: 12 !default;
$gridBreakpoints: (
  'xs': (
    'min': 0px,
    'max': 575px,
  ),
  'sm': (
    'min': 576px,
    'max': 767px,
  ),
  'md': (
    'min': 768px,
    'max': 991px,
  ),
  'lg': (
    'min': 992px,
    'max': 1199px,
  ),
  'xl': (
    'min': 1200px,
    'max': 9999px,
  ),
);
$gridBreakpointFirst: 'xs';
$gridBreakpointLast: 'xl';

$gridMaxWidths: (
  'xs': auto,
  'sm': 540px,
  'md': 720px,
  'lg': 960px,
  'xl': 1140px,
);

$gridGutterWidth: 32px !default;
$gutterCompensation: $gridGutterWidth / 2 * -1;
$halfGutterWidth: $gridGutterWidth / 2;
$gridMaxGutterAmount: 10 !default;

$spacerSize: 4px !default;
$spacerMaxValue: 20 !default;
