$colorAzureRadiance: #007bff;
$colorElectricViolet: #6610f2;
$colorFuchsiaBlue: #6f42c1;
$colorCerise: #e83e8c;
$colorPersianRed: #cd412d;
$colorEcstasy: #fd7e14;
$colorAmber: #ffc107;
$colorEucalyptus: #28a745;
$colorMountainMeadow: #20c997;
$colorEasternBlue: #17a2b8;
$colorWhite: #ffffff;
$colorAthensGray: #f8f9fa;
$colorHeather: #b2c1cd;
$colorDustyGray: #999999;
$colorPaleSky: #6c757d;
$colorOuterSpace: #343a40;
$colorMineShaft: #333333;
$colorBlack: #000000;

$colors: (
  'azureRadiance': $colorAzureRadiance,
  'electricViolet': $colorElectricViolet,
  'fuchsiaBlue': $colorFuchsiaBlue,
  'cerise': $colorCerise,
  'persianRed': $colorPersianRed,
  'ecstasy': $colorEcstasy,
  'amber': $colorAmber,
  'eucalyptus': $colorEucalyptus,
  'mountainMeadow': $colorMountainMeadow,
  'easternBlue': $colorEasternBlue,
  'white': $colorWhite,
  'athensGray': $colorAthensGray,
  'heather': $colorHeather,
  'dustyGray': $colorDustyGray,
  'paleSky': $colorPaleSky,
  'outerSpace': $colorOuterSpace,
  'mineShaft': $colorMineShaft,
  'black': $colorBlack,
);
