$fontSize: 16px;
$fontFamily: 'Montserrat', 'system', sans-serif;

$fontThin: 100;
$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

$fontWeights: (
  'thin': $fontThin,
  'extraLight': $fontExtraLight,
  'light': $fontLight,
  'regular': $fontRegular,
  'medium': $fontMedium,
  'semiBold': $fontSemiBold,
  'bold': $fontBold,
  'extraBold': $fontExtraBold,
  'black': $fontBlack,
);
