$colorTheme: #d97dd3;

.root {
  background-color: $colorTheme;
  color: $colorWhite;

  @include hover {
    background-color: darken($colorTheme, 15%);
  }

  @include focus {
    @include focusedOutline($colorTheme);
  }

  &.isActive {
    background-color: darken($colorTheme, 15%);
  }

  &.isDisabled {
    background-color: lighten($colorTheme, 20%);
  }
}
