$themeColor: $colorEasternBlue;

.root {
  &.isDisabled {
    pointer-events: none;
  }
}

.label {
  display: inline-block;
  margin-bottom: 3px;
}

.textarea {
  @include resetButton;

  width: 100%;
  min-height: 100px;
  border: 1px solid $themeColor;
  padding: 10px;
  line-height: rem(24px);
  box-sizing: border-box;
  resize: vertical;
}
